body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background-color: #f8f8f8;
}

header nav {
  background-color: #333;
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

header nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

header nav a:hover {
  text-decoration: underline;
}

main {
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 20px;
}

img {
  width: 100%;
  border-radius: 8px;
}

footer {
  margin-top: 30px;
  padding: 15px;
  background: #333;
  color: white;
  text-align: center;
}
figure {
  margin: 20px 0;
}

figcaption {
  color: #666;
  font-size: 14px;
  margin-top: 8px;
}
form {
  margin-top: 20px;
}

label {
  font-weight: bold;
}

input, select {
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  width: 100%;
  max-width: 300px;
}

button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #555;
}